.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 340px;
    margin: 0 auto 3rem;
    padding: 2rem;
}

.sign-in-icon {
    font-size: 5rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    cursor: pointer;
}

.error-message {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}