.account-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
}

.account-amount {
    font-size: 1.8rem;
}

.account-amount-description {
    margin: 0;
}

.account-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

.account-details-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    width: 110%;
    position: relative;
}

.prv-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.account-details-items {
    margin-left: 0.2rem;
}


.prv {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0;
}

@media (min-width: 720px) {
    .account-amount {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
    }
}

@media (max-width: 480px) {
    .bg-dark, .bg-dark-user {
        padding: 0;

    }
    .account-wrapper {
        padding: 0;
    }
    .account {
        width: 100%;
    }
    .prv {
        bottom: 0.2rem;
        width: 60px;
        height: 15px;
        padding: 0;
        text-align: center;
        right: inherit;

    }
    .prv-button {
        padding: 0;
        font-size: 0.6rem;
        font-weight: bold;
        width: 60px;
        height: 15px;
    }
}
